{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <link rel ="stylesheet" href="{% static  'ccss/home.css'%}">
  
  <title>Mes_aliment</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css" rel="stylesheet' %}" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  
  <link href="{% static 'css/mes_aliments.css' %}" rel="stylesheet">

</head>


<body id="page-top">


   <div class="container-fluid" style="background:red">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navbarTop">
          <div class="row" id="row">
            <a><img class="pur_beurre_logo" id="pur_beurre_logo" src="static/img/portfolio/menu-haut/pur_beurre.png"></a>
            <a class="nom" id="nom">Pur Beurre</a>
          </div>
          <div class="row" id="row2">
            <ul class="nav navbar-nav">
              <li><a><input class="inputChercher" type="text" placeholder="Chercher"/></a></li>
              <li><a><img class="compte" id="compte" src="static/img/portfolio/menu-haut/compte.png"></a></li>
              <li><a href='/mes_aliments'><img class="carotte" id="carotte" src="static/img/portfolio/menu-haut/carotte.png"></a></li>
              <li><img class="deco" id="deco" src="static/img/portfolio/menu-haut/deco.png"></a></li>
            </ul>
          </div>
      </nav>
    </div>
    <br>
    cs
   <div class="container-fluid my-auto" id="rectangle_image" >
    <div class="row" >
     <div id="block" class="col-md-12">
        <input type="text" id="alimentRecherche" disabled="disabled" value="Aliment recherché"/>
        <hr>
     </div>
    </div>
   </div>
























































  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
  <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/creative.min.js' %}"></script>

</body>

</html>
