{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
 
  
  <title>Colette&Remi</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css%22%20rel%3D%22stylesheet'}" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  
  <link href="/static/css/home.css" rel="stylesheet">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>






</head>


<body id="page-top">


 
    <style>#inputChercher{
            text-align:center;
            margin-top:12px;
            background: #A9A9A9;
            border: 1px solid;
            font-style:italic;
            }
            #deco{
            background-size: cover;
            margin-left:15px;
            width: 50x;
            height: 50px;
            }
    </style>


    <div class="container-fluid" id="Menu-TOP">
        <div class="row" id="row1">

           <div class="col-md-7" id="block">
           
              <a href='/'>
                <img  id="pur_beurre_logo" src="{% static 'img/portfolio/menu-haut/pur_beurre.png' %}">
              </a>
              <a  id="nom">Pur Beurre</a>
              
           </div>
            
           <div class="col-md-5" id="block2">
               <div id="droiteMenuTop">
               
                   <a>
                     <input id="inputChercher" type="text" placeholder="Chercher"/>
                   </a>
                   
                   <a href='/account/mon_compte' OnMouseOver="document.all.texte.innerText='Mon compte !'">
                     <img id="compte" src="{% static 'img/portfolio/menu-haut/compte.png' %}">
                   </a>

                   <a href='/mes_aliments/mes_aliments' OnMouseOver="document.all.texte.innerText='Mes Aliments !'">
                     <img id="carotte" src="{% static 'img/portfolio/menu-haut/carotte.png' %}"
                   </a>
                   
                   <a href='/account/login' OnMouseOver="document.all.texte.innerText='Se connecter !'">
                     <img id="login" src="{% static 'img/portfolio/menu-haut/login.png' %}">
                   </a>
                   
                   <a href='/account/inscription' OnMouseOver="document.all.texte.innerText='S\'inscrire !'">
                     <img id="inscription" src="{% static 'img/portfolio/menu-haut/inscription2.png' %}">
                   </a>
                   
                   <a OnMouseOver="document.all.texte.innerText='Se deconnecter !'">
                     <img id="deco" src="{% static 'img/portfolio/menu-haut/deco.png' %}">
                   </a>
                   
                   <center><p id="texte"><br></p></center>

               </div>
           </div>  
        </div>
      </div>




  <style>
    #yo{
    color: rgba(51, 51, 0);
    background-color: rgba(255, 153, 102);
    }
  </style>

  <header class="masthead text-center d-flex">
  
    <div class="container my-auto">

      <center><div class="col-xs-12 col-lg-12">
         <h1 id="yo">
            
            <strong> Registration &nbsp; &nbsp;  Inscription &nbsp; &nbsp;  Anmeldung &nbsp; &nbsp; iscrizione</strong>
          
          </h1>
      </div></center>

    </div>
          
  </header>


  


  <section class="bg-primary" id="about">

  
    <form  method="post">
    
    <div class="container" id="con">
        <div class="row">

        
          <div class="col-lg-4 col-sm-12">
              <style>#nom{color:black;}</style> 
              <p id="nom">Ton Nom:</p>
              <input type="hidden" name="csrfmiddlewaretoken" value="YdQEaM9QQILhfKrMQSMBXy6MNqNQJHmpXTCCcXIRRhSynbl7zVoCxkNdtWjHGSUH">
              <input type="text" name="nom" placeholder="Nom" maxlength="255" required id="id_nom" style="font-style:italic">
     
          </div>


        <div class="col-lg-4 col-sm-12">
              <style>#prenom{color:black;}</style> 
              <p id="prenom">Ton Prenom:</p>
              <input type="hidden" name="csrfmiddlewaretoken" value="YdQEaM9QQILhfKrMQSMBXy6MNqNQJHmpXTCCcXIRRhSynbl7zVoCxkNdtWjHGSUH">
              <input type="text" name="prenom" placeholder="prenom" maxlength="255" required id="id_prenom" style="font-style:italic">
      
        </div>

          
          <div class="col-lg-4 col-sm-12">
              <style>#mdp{color:black;}</style> 
              <p id="mdp">Ton Mot de passe:</p>
              <input type="hidden" name="csrfmiddlewaretoken" value="YdQEaM9QQILhfKrMQSMBXy6MNqNQJHmpXTCCcXIRRhSynbl7zVoCxkNdtWjHGSUH">
              <input type="text" name="password" placeholder="Password" maxlength="255" required id="id_password" style="font-style:italic">
  
        </div>    
     </div>
    

        
    <br><br>
  
    <div class="container" id="con">
      <div class="row">
         <div class="col-lg-12 col-sm-12"></div>
         </div>
      </div>
    </div>


     

    <br><br><br><br>
    <div class="container" id="con">
      <div class="row">
        
        <div class="col-lg-4 col-sm-12">
            <style>#Email{color:black;}</style> 
            <p id="Email">Ton Email:</p>
            <input type="hidden" name="csrfmiddlewaretoken" value="YdQEaM9QQILhfKrMQSMBXy6MNqNQJHmpXTCCcXIRRhSynbl7zVoCxkNdtWjHGSUH">
            <input type="text" name="email" placeholder="Email"  maxlength="255" required id="id_email" style="font-style:italic">
 
        </div>


        <div class="col-lg-8 col-sm-12">
              <style>#adresse{color:black;}</style>  
              <p id="adresse">Ton Adresse:</p>
              <input type="hidden" name="csrfmiddlewaretoken" value="YdQEaM9QQILhfKrMQSMBXy6MNqNQJHmpXTCCcXIRRhSynbl7zVoCxkNdtWjHGSUH">
              <input type="text" name="addresse" placeholder="Adresse" size="50" maxlength="400" required id="id_addresse" style="font-style:italic">
  
        </div>
        
      </div>
    </div>
    <br>
    <center></center>
    <br><br><br>
    <div class="container" id="con">
      <div class="row">
          
         <div class="col-lg-4 col-sm-12"></div>

         <div class="col-lg-4 col-sm-12">
              <style>#ville{color:black;}</style>
              <p id="ville">Ta ville:</p>
              <input type="hidden" name="csrfmiddlewaretoken" value="YdQEaM9QQILhfKrMQSMBXy6MNqNQJHmpXTCCcXIRRhSynbl7zVoCxkNdtWjHGSUH">
              <input type="text" name="ville" placeholder="Ville" maxlength="255" required id="id_ville" style="font-style:italic">
    
         </div>

          <div class="col-lg-4 col-sm-12">
              <style>#code{color:black;}</style>
              <p id="code">Ton code postal:</p>
              <input type="hidden" name="csrfmiddlewaretoken" value="YdQEaM9QQILhfKrMQSMBXy6MNqNQJHmpXTCCcXIRRhSynbl7zVoCxkNdtWjHGSUH">
              <input type="text" name="code_postale" placeholder="Code postal" maxlength="255" required id="id_code_postale" style="font-style:italic">

          </div>
          
        </div>
    </div>



    <br><br>
    <div class="container" id="con">
      <div class="row">
          
         <div class="col-lg-3 col-sm-12"></div>

         <div class="col-lg-3 col-sm-12"></div>


         <div class="col-lg-6 col-sm-12">
 
         </div>
      </div>
    </div>


    
    <br><br><br><br><br><br><br>
    <div class="container" id="con">
      <div class="row">
          
        <div class="col-lg-4 col-sm-12">
              <style>#sexe{color:black;}</style>
              <p id="sexe">Ton sexe:</p>
              <input type="hidden" name="csrfmiddlewaretoken" value="YdQEaM9QQILhfKrMQSMBXy6MNqNQJHmpXTCCcXIRRhSynbl7zVoCxkNdtWjHGSUH">
              <input type="text" name="sexe" placeholder="Sexe" maxlength="8" required id="id_sexe" style="font-style:italic">

        </div>


        <div class="col-lg-4 col-sm-12">
              <style>#naissance{color:black;}</style>
              <p id="naissance">Ta date de naissance:</p>
              <input type="hidden" name="csrfmiddlewaretoken" value="YdQEaM9QQILhfKrMQSMBXy6MNqNQJHmpXTCCcXIRRhSynbl7zVoCxkNdtWjHGSUH">
              <input type="text" name="date" placeholder="Ex: 2019:01:01" required id="id_date" style="font-style:italic">

        </div>

        <div class="col-lg-4 col-sm-12">
              <style>#statut{color:black;}</style>
              <p id="statut">Ton statut:</p>
              <input type="hidden" name="csrfmiddlewaretoken" value="YdQEaM9QQILhfKrMQSMBXy6MNqNQJHmpXTCCcXIRRhSynbl7zVoCxkNdtWjHGSUH">
              <input type="text" name="statut" placeholder="Statut" maxlength="255" required id="id_statut" style="font-style:italic">
     
        </div>

        
      </div>
    </div>


    <br><br><br><br><br><br><br><br>
    <div class="container" id="con">
      <div class="row">
      
        <div class="col-lg-2 col-sm-12"></div>

        <div class="col-lg-8 col-sm-12">
        
          <style>#Nombuttonvalider{color:black;}</style>
          
          <input type="hidden" name="csrfmiddlewaretoken" value="YdQEaM9QQILhfKrMQSMBXy6MNqNQJHmpXTCCcXIRRhSynbl7zVoCxkNdtWjHGSUH">
          <input type="submit" id="Nombuttonvalider" value="Valider formulaire"><br><br>
      
        </div>

        <div class="col-lg-2 col-sm-12"></div>
        
      </div>
    </div>
    <br><br><br><br><br>
          
  </form>
  </section>




  <section id="contact">
  
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
        
          <h2 class="section-heading">Contactez - nous !</h2>
          
          <hr class="my-4">
          
          <p class="mb-5" id="contactP">Un produit sain c'est bien ! Un produit merveilleux c'est encore MIEUX !</p>
          
        </div>
        
      </div>


      
      <div class="row">
      
        <div class="col-lg-4 ml-auto text-center">
        
          <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
          <img class="phone" id="phone" src="/static/img/portfolio/bas/phone.png">
          <p>123-456-6789</p>
          
        </div>

        
        <div class="col-lg-4 mr-auto text-center">
        
          <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
          
          <img class="mail" id="mail" src="/static/img/portfolio/bas/mail.png">
          <p>
            <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
          </p>
        </div>


      </div>
    </div>
  </section>


    
  <hr color:black>
  <nav class="navbar navbar-expand-lg navbar-light fixed-bot" id="mainNav">
  
    <div class="container">

        <div class="mentions">
          <a class="compte_top_haut_droit" id="compte_top_haut_droit" href="#">Mentions légales</a>
        </div>

          
        <div class="contact">
          <a class="aliments_top_haut_droit" id="aliments_top_haut_droit" href="#">Contact</a>
        </div>

    
    </div>
  </nav>



  


  <!-- Bootstrap core JavaScript -->
  <script src=" /static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/static/vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/creative.min.js"></script>






</body>

</html>

  
  
  <script type = "text/javascript">



</script>



























l
