{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
 
  
  <title>Colette&Remi</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css%22%20rel%3D%22stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  
  <link href="/static/css/homehome.css" rel="stylesheet">

</head>

<body id="page-top">


 
    <style>#inputChercher{
            text-align:center;
            margin-top:12px;
            background: #A9A9A9;
            border: 1px solid;
            font-style:italic;
            }
            #deco{
            background-size: cover;
            margin-left:15px;
            width: 50x;
            height: 50px;
            }
    </style>


    <div class="container-fluid" id="Menu-TOP">
        <div class="row" id="row1">

           <div class="col-md-7" id="block">
           
              <a href='/'>
                <img  id="pur_beurre_logo" src="{% static 'img/portfolio/menu-haut/pur_beurre.png' %}">
              </a>
              <a  id="nom">Pur Beurre</a>
              
           </div>
            
           <div class="col-md-5" id="block2">
               <div id="droiteMenuTop">
               
                   <a>
                     <input id="inputChercher" type="text" placeholder="Chercher"/>
                   </a>
                   
                   <a href='/account/mon_compte' OnMouseOver="document.all.texte.innerText='Mon compte !'">
                     <img id="compte" src="{% static 'img/portfolio/menu-haut/compte.png' %}">
                   </a>

                   <a href='/mes_aliments/mes_aliments' OnMouseOver="document.all.texte.innerText='Mes Aliments !'">
                     <img id="carotte" src="{% static 'img/portfolio/menu-haut/carotte.png' %}"
                   </a>
                   
                   <a href='/account/login' OnMouseOver="document.all.texte.innerText='Se connecter !'">
                     <img id="login" src="{% static 'img/portfolio/menu-haut/login.png' %}">
                   </a>
                   
                   <a href='/account/inscription' OnMouseOver="document.all.texte.innerText='S\'inscrire !'">
                     <img id="inscription" src="{% static 'img/portfolio/menu-haut/inscription2.png' %}">
                   </a>
                   
                   <a OnMouseOver="document.all.texte.innerText='Se deconnecter !'">
                     <img id="deco" src="{% static 'img/portfolio/menu-haut/deco.png' %}">
                   </a>
                   
                   <center><p id="texte"><br></p></center>

               </div>
           </div>  
        </div>
        </div>



  <style>
  .titreUn{
    color: rgba(51, 51, 0);
    background-color: rgba(255, 153, 102);
  }
  </style>

  <header class="masthead text-center d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="titreUn">
            <strong>Du gras, oui mais de qualité !</strong>
          </h1>
          <hr>
        </div>


        
        <div class="col-lg-8 mx-auto">
          <div class="text-faded mb-5" id="texteMilieu">
              <h2>Trouvez un produit de substitution</h2><br>
              <h2>pour ceux que vous consommez</h2><br>
              <h2>tous les jours.</h2>
          </div>
    

            <form action ="mes_aliments/recherche" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="ZpPGYe4an9kbhNTmpXYQUBxfWbFxQnWq20X3SVmFrLBYDz1HyQacjnVhPE8nfBY7">
            <input type="hidden" name="csrfmiddlewaretoken" value="EamjY5jhJJz2DK6tRyzNuimbCmgWR39MDQ8h0gSiKiGjLb0OABbO443CiSMNOeH4">
              <input name="cool" class="input_top_haut_droit" type="text" size:"30" placeholder="Produit"/>
              <input class="input_desous_h2" type="submit" value="Chercher"/>
            </form>
            
        </div>
      </div>
    </div>
  </header>





  <section class="bg-primary" id="about">
  
    <div class="container">
    
      <div class="row">
      
        <div class="col-lg-8 mx-auto text-center">
        
          <h2 class="section-heading text-white">Colette et Remy</h2>
          <hr class="light my-4">
          
          <p class="text-faded mb-4" id="coletteTexte">
           <strong>Colette Tatou : </strong>" Nous aimons tous manger, surtout en France! Personnellement,
           une baguette fraîche, du bon fromage de chèvre et un bon vin rouge me suffisent amplement.
           Comme tout le monde, je fais mes courses au supermarché woulah je me fais pas livrer sur la tete de oim.
           Mais petit à petit je me suis rendue compte,
           quand nous avons ouvert le restaurant,
           que je te les REMPLACER pouvais aseptisés Que Produits l'habitus d'je avais acheter par de bons produits du terroir
           Et versez le same Souvent prix!" 
          </p>

          <p class="text-faded mb-4" id="remTexte">
           <strong>Remy : </strong>"Pour ma part je me rendais déjà bien dans les magasins car j'aime beaucoup me balader
           a dos de mamouth, surtout dans les caves et les cuisines.
           Je ne sais pas ce que c'est le contenu des boutiques bio (dont je raffole) ainsi que les ingrédients
           de tous les aliments vendus. Quand on m'a demandé de remplacer son Nutella par un aliment plus sain,
           je savais tout de suite. L'idée de pur beurre était née! "
          </p>



          <div class="rem">
            <img class="img-fluid1" src="/static/img/portfolio/mid/Rem.jpg" alt="">
            <p class ="remi_sous_picture"><strong>Chef Remy</strong></p>
          </div>

          
          <div class="colette">
            <img class="img-fluid2" src="/static/img/portfolio/mid/Coco.png" alt="">
            <p class="colette_sous_picture"><strong>Chef Colette Tatou</strong></p>
          </div>
          
        </div>
      </div>
    </div>
  </section>






  <section id="contact">
  
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
        
          <h2 class="section-heading">Contactez - nous !</h2>
          
          <hr class="my-4">
          
          <p class="mb-5" id="contactP">Un produit sain c'est bien ! Un produit merveilleux c'est encore MIEUX !</p>
          
        </div>
        
      </div>


      
      <div class="row">
      
        <div class="col-lg-4 ml-auto text-center">
        
          <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
          <img class="phone" id="phone" src="static/img/portfolio/bas/phone.png">
          <p>123-456-6789</p>
          
        </div>

        
        <div class="col-lg-4 mr-auto text-center">
        
          <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
          
          <img class="mail" id="mail" src="static/img/portfolio/bas/mail.png">
          <p>
            <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
          </p>
        </div>


      </div>
    </div>
  </section>


    
  <hr color:black>
  <nav class="navbar navbar-expand-lg navbar-light fixed-bot" id="mainNav">
  
    <div class="container">

        <div class="mentions">
          <a class="compte_top_haut_droit" id="compte_top_haut_droit" href="#">Mentions légales</a>
        </div>

          
        <div class="contact">
          <a class="aliments_top_haut_droit" id="aliments_top_haut_droit" href="#">Contact</a>
        </div>

    
    </div>
  </nav>







  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/static/vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/creative.min.js"></script>

</body>

</html>
