{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <link rel ="stylesheet" href="{% static  'ccss/home.css'%}">
  
  <title>Colette&Remi</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css" rel="stylesheet' %}" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  
    <div class="container">
      <a class="page-top">Pur Beurre</a>
  
      <div class="page-top-droite">
        <ul class="navbar-nav ml-auto">
        
          <li class="nav-item">
            <input class="input_top_haut_droit" type="text" placeholder="Chercher"/>
          </li>
          
          <li class="nav-item">
            <a class="compte_top_haut_droit" href="#">Mon compte</a>
          </li>
          
          <li class="nav-item">
            <a class="aliments_top_haut_droit" href="#">Mes aliments</a>
          </li>
          
          <li class="nav-item">
            <a class="deco_top_haut_droit" href="#">Deconnexion</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>












  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="titreUn">
            <strong>Du gras, oui mais de qualité !</strong>
          </h1>
          <hr>
        </div>


        
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5"><h2>Trouvez un produit de substitution</h2><br>
          <h2>pour ceux que vous consommez</h2><br>
          <h2>tous les jours.</h2>
          </p>

          
          <input class="input_top_haut_droit" type="text" placeholder="Produit"/>
          <input class="input_desous_h2" type="button" value="Chercher"/>
          
        </div>
      </div>
    </div>
  </header>





  <section class="bg-primary" id="about">
  
    <div class="container">
    
      <div class="row">
      
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">Colette et Remy</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">[histoire]</a>
          <img class="img-fluid" src="{% static 'img/portfolio/mid_top/Rem.jpg' %}" alt="">
          <img class="img-fluid" src="{% static 'img/portfolio/mid_top/Coco.png' %}" alt="">
        </div>
        
      </div>
    </div>
  </section>



  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Contactez - nous !</h2>
          <hr class="my-4">
          <p class="mb-5">[ phrase ]</p>
        </div>
      </div>


      
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
          <p>123-456-6789</p>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
          <p>
            <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
          </p>
        </div>
      </div>
    </div>
  </section>




  <nav class="navbar navbar-expand-lg navbar-light fixed-bot" id="mainNav">
  
    <div class="container">
    
  
      <div class="page-top-droite">
        <ul class="navbar-nav ml-auto">
        
  
          <li class="nav-item">
            <a class="compte_top_haut_droit" href="#">Mentions légales</a>
          </li>
          
          <li class="nav-item">
            <a class="aliments_top_haut_droit" href="#">Contact</a>
          </li>
          
  
          
        </ul>
      </div>
    </div>
  </nav>





  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
  <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/creative.min.js' %}"></script>

</body>

</html>
